<%= form_with(model: sector) do |form| %>
  <% if sector.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
        <% sector.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, :value => "Random Sector" %>
  </div>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.text_area :data, :value => @data %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
